* {
  box-sizing: border-box; /* bài 47 */
}
html {
  font-size: 62.5%;
}
/* khôi pục lại chữ mặt định theo cỡ rem */
body {
  font-size: 1.6rem; /* bài 56 */
  font-family: "Poppins", sans-serif;
}
/* ==================conmon============== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px); /* bài 85 calc */
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  line-height: 50px;

  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
/* ==================header============== */
.header {
  background: #f5e1ab;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1, 6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
  /* margin-left: 49px; */
}
.header .action {
  margin-left: 49px;
}
